.darkmode {
    background-color: var(--black);
    color: var(--white);
}

.theme_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;

    svg {
        fill: #242424;
    }

    svg:last-child {
        display: none;
    }
}

.darkmode {
    .theme_switch {
        svg:first-child {
            display: none;
        }
        svg:last-child {
            display: block;
        }
    }
}

.darkmode .read_more.active {
    background-color: var(--black);
    color: var(--white);
}
