.darkmode {
    background-color: var(--black_clear);
    color: var(--white);
}

.theme_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;

    svg {
        fill: #242424;
    }

    svg:last-child {
        display: none;
    }
}

.darkmode {
    .theme_switch {
        svg:first-child {
            display: none;
        }
        svg:last-child {
            display: block;
        }
    }
}

.darkmode .read_more_container.active {
    background-color: var(--black_clear);
    color: var(--white);
    box-shadow: none;
}

.darkmode .references {
    background-color: var(--black_clear);
    color: var(--white);
    box-shadow: none;
}

.darkmode .responsive {
    background-color: var(--black);
    color: var(--white);
    box-shadow: none;
}

.darkmode .shadow_div {
    background-color: var(--black);
    color: var(--white);
    box-shadow: none;
}

.darkmode .review_container {
    box-shadow: none;
    background-color: var(--black_clear);
}

.darkmode .pricing_table tbody tr td {
    border: 1px solid var(--white);
    background-color: var(--black_clear);
    color: var(--white);
}

.darkmode .pricing_table tbody .featured-row td {
    color: var(--black);
    background-color: var(--yellow);
}

.darkmode .total-row td:nth-child(2) {
    background: var(--violet_blue);
}

.darkmode .total-row td:nth-child(1) {
    border: none;
    background-color: var(--black);
}

.darkmode .cards_container div article {
    box-shadow: none;
}

.darkmode .contact_img {
    background-image: url("./assets/svg/header-white.svg");
    background-color: var(--black);
}
