@font-face {
    font-family: "literata";
    src: url("./fonts/Literata-Regular.ttf") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "literata_italic";
    src: url("./fonts/Literata-Italic.ttf") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "jakarta_title";
    src: url("./fonts/PlusJakartaSans-SemiBold.ttf") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "jakarta";
    src: url("./fonts/PlusJakartaSans-Regular.ttf") format("woff2");
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --yellow: #ffd24e;
    --blue: #010f3c;
    --clear_violet: #9592f6;
    --violet: #6040ed;
    --gray_blue: #e5f3fc;
    --orange: #dd3b10;
    --violet_blue: #423eaf;
    --sky_blue: #78b2f9;
    --black: #000000;
    --white: #ffffff;
    --clear_grey: #f3fbff;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

p,
a {
    font-family: "jakarta";
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: "jakarta_title";
}

blockquote {
    font-family: "literata_italic", sans-serif;
    font-style: italic;
    font-size: 16px;
}

body {
    background-color: var(--white);
    color: var(--blue);
}

.main {
    position: relative;
    min-width: 300px;
    max-width: 1080px;
    margin: 0 auto;

    .header {
        padding: 10px 0;
        max-width: 1080px;
        min-width: 300px;

        nav {
            .nav_container {
                display: flex;
                width: 90%;
                margin: auto;
                justify-content: space-between;
                align-items: center;

                .logo {
                    width: 100px;
                    height: 100%;
                }

                .menu_container {
                    display: flex;
                    align-items: center;
                    column-gap: 15px;

                    .menu_btn {
                        display: none;
                        cursor: pointer;
                        background-color: transparent;

                        .menu_icon {
                            fill: var(--violet);
                        }
                    }

                    .nav_links {
                        display: flex;
                        gap: 60px;

                        li {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        /*Queries solo del nav*/
        @media (width <=768px) {
            nav {
                .nav_container {
                    width: 90%;

                    .menu_container {
                        .menu_btn {
                            width: 30px;
                            height: 30px;
                            display: block;
                            z-index: 10;

                            .menu_icon {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .nav_links {
                            display: none;
                            position: fixed;
                            top: 0;
                            left: 0;
                            flex-direction: column;
                            align-items: start;
                            width: 100%;
                            inset: 0;
                            padding: 10px 0;
                            padding-top: 50px;
                            text-align: center;
                            color: var(--blue);
                            background-color: var(--white);
                            pointer-events: none;
                            z-index: 3;
                        }

                        .nav_links.active {
                            display: grid;
                            row-gap: 10px;
                            align-content: start;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
    }

    .container_sticky {
        max-width: 1020px;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 30px;
        text-align: center;
        z-index: -1;

        .img_sticky {
            max-width: 80%;
            margin: auto;
            margin-top: 60px;
        }

        article {
            h2 {
                margin-top: 28px;
                text-transform: uppercase;
            }

            p {
                margin: 42px 0;
            }
        }

        @media (width <= 768px) {
            .img_sticky {
                height: 300px;
            }
        }
    }
}

/* Estilos para los botones de leer ahora y para volver arriba */
.read_now_button {
    position: absolute;
    top: 102%;
    left: 0;
    right: 0;
    display: grid;

    text-transform: uppercase;
    text-decoration: underline;
    color: var(--violet);
    z-index: 1;
}

.read_now_button.hidden {
    display: none;
}

.read_now_button.view {
    display: block;
}

.back_utton {
    display: none;
}

.back_button.active {
    display: grid;
    position: fixed;
    bottom: 20px;
    right: 180px;
    text-decoration: underline;
    color: var(--violet_blue);
}
@media (width <=768px) {
    .back_button.active {
        right: 50px;
    }
}

/* Estilos sección oculta por defecto */

.read_more_container {
    position: relative;
    display: none;
    max-width: 1020px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: var(--white);
    color: var(--blue);
    box-shadow: 0 4px 12px rgba(127, 171, 236, 0.1);
    z-index: 2;

    .table {
        margin-bottom: 40px;
    }

    .references {
        display: grid;
        justify-content: center;
        row-gap: 10px;
        padding: 60px 10px 60px 30px;
        margin: 28px 60px 0 60px;
        border-radius: 10px;
        background-color: #f3f3f3;

        h4 {
            margin-bottom: 28px;
        }

        @media (width <= 768px) {
            padding: 60px 10;
            margin: 28px 20px 0 20px;
        }
    }

    .review_container {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding-left: 40px;
        margin: 60px 60px 0 60px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        img {
            width: 100px;
            border-radius: 50%;
        }

        div {
            padding: 60px 10px;
        }

        @media (width <= 768px) {
            flex-direction: column;
            padding-top: 30px;
            margin: 60px 20px;
        }
    }

    .comments_title {
        margin: 140px 0 0 140px;
        font-size: 25px;

        @media (width <= 768px) {
            margin-left: 40px;
        }
    }

    .comments_container {
        margin: 40px 120px 0 120px;
        box-shadow: 0 4px 12px rgba(84, 86, 182, 0.1);

        .shadow_div {
            padding: 30px 10px;
            box-shadow: 0 4px 12px rgba(84, 86, 182, 0.1);
        }

        .comments_two {
            display: none;
        }

        .comments_two.active {
            display: grid;
        }
        @media (width <= 768px) {
            margin: 100px 20px 0 20px;
        }
    }

    .view_comments_button {
        margin: 65px 0;
        text-decoration: underline;
        font-size: 14px;
        text-align: center;
        color: var(--violet);
    }
    .sidebar {
        width: 40px;
        position: absolute;
        top: 0;
        left: -15px;
        display: grid;
        gap: 10px;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 30px 30px;
        background-color: var(--yellow);
        z-index: 4;

        span {
            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    @media (width <= 768px) {
        .sidebar {
            display: flex;
            width: 200px;
            border-radius: 0 30px 30px 0;
        }
    }

    .responsive {
        display: grid;
        justify-content: center;
        justify-items: center;
        padding: 0 100px 0 100px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    @media (width <= 768px) {
        .responsive {
            padding: 0 20px;
        }
    }
}

.tucan,
.almohada,
.tucan_two {
    width: 100px;
    margin: 28px auto;
}

.table_wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* suaviza el scroll en iOS */
}

.pricing_table {
    width: 1080px;
    min-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    text-align: left;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    th,
    td {
        border: 1px solid #00000030;
        padding: 12px 16px;
    }

    thead th {
        background-color: var(--violet);
        color: var(--white);
        font-weight: bold;
        text-align: center;
        border-radius: 8px 8px 0 0;
    }
}

tbody tr:nth-child(even):not(.featured-row):not(.gap):not(.total-row) {
    background-color: var(--white);
}

tbody tr:nth-child(odd):not(.featured-row):not(.gap):not(.total-row) {
    background-color: var(--white);
}

.featured-row {
    background: var(--yellow);
    font-weight: bold;
}

.total-row td:nth-child(3) {
    background: var(--violet_blue);
    color: var(--white);
    text-align: center;
    font-weight: bold;
}

.total-row td:last-child {
    font-weight: bold;
}

.row-60 th {
    height: 60px;
}

.row-100 td {
    height: 100px;
}

.row-35 td {
    height: 35px;
}

.row-55 td {
    height: 55px;
}

/* Separadores visuales */
.gap {
    height: 20px;
    background: #ffc0cb66;
}

.featured {
    background: #5e6be1 !important;
    color: white;
}

.read_more_container.active {
    display: grid;
}

/*Estilos de la página Contac*/
.container_sticky.contact {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .img_sticky.contact {
        max-width: 90%;
    }
}

.cards_container {
    display: grid;
    gap: 30px;
    max-width: 1080px;
    margin-bottom: 40px;

    div {
        display: flex;
        align-items: center;
        gap: 30px;

        article {
            width: 340px;
            height: 220px;
            text-align: right;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @media (width <= 768px) {
        .cards_container {
            width: 100%;
            justify-content: center;
        }

        div {
            display: grid;
            justify-content: center;
        }
    }
}

.title_container_about {
    position: absolute;
    top: 350px;
    display: grid;
    align-items: center;
    width: 100%;
    background-color: var(--violet_blue);
    color: var(--white);

    h1 {
        font-size: 40px;
        text-align: right;
        width: 98%;
    }
}

@media (width <= 768px) {
    .title_container_about {
        top: 320px;

        h1 {
            font-size: 25px;
        }
    }
}

.newsletter_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px 60px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);

    .newsletter_content {
        display: grid;
        align-items: center;
        gap: 25px;
    }

    .newsletter_form {
        label,
        button {
            display: block;
            margin-bottom: 10px;
        }
        input {
            width: 400px;
            height: 20px;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            background-color: var(--white);
        }

        button {
            width: 250px;
            padding: 10px 20px;
            height: 50px;
            background-color: var(--violet_blue);
        }
    }

    @media (width <= 768px) {
        .newsletter_form {
            input {
                width: 300px;
            }
        }
    }
}

/* Estilos para about*/

.container_title_about {
    margin: 60px 0 28px 0;
    text-align: center;
}

.container_subtitle_about {
    margin-bottom: 80px;

    h2 {
        text-align: center;
        margin-bottom: 42px;
    }

    .content_about {
        display: grid;
        justify-content: center;
        padding: 70px 100px 0 100px;
        margin: 0 30px;

        p {
            margin-bottom: 28px;
        }
    }

    @media (width <= 768px) {
        .content_about {
            padding: 70px 10px 0 10px;
            margin: 0 20px;
        }
    }
}

.container_tucan_two {
    display: grid;
    justify-content: center;
    margin-top: 100px;
}

/* Footer*/

.footer {
    display: grid;
    color: var(--white);
    background-color: var(--violet_blue);

    nav {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 85%;
        margin: auto;
        padding: 25px 0;

        .footer_logo_container {
            height: 100%;
            padding-right: 50px;

            img {
                width: 100px;
                height: 100%;
            }
        }
        .footer_nav_links {
            display: grid;
            justify-content: center;
            height: 100%;
            padding: 0 80px 0 50px;
            row-gap: 10px;
            border-left: 4px solid var(--white);
            font-weight: 700;
        }
    }

    .copyright {
        height: 60px;
        text-align: center;
        line-height: 60px;
        background-color: var(--blue);
    }
}

@media (width <= 768px) {
    .footer {
        nav {
            justify-content: center;

            .footer_nav_links {
                padding: 0 20px 0 50px;
            }
        }
    }
}
